<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Libri</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
    <header>
        <h1 class="h1 ml-3 mt-3 mb-4">École de formation continue LIBRI</h1>
        <nav>
            <ul class="list-unstyled" class="d-flex justify-content-center">
                <li><a type="button" class="btn btn-info mb-3" href="/accueil">Accueil</li></a>
                <li><a type="button" class="btn btn-info mb-3" href="/blog">Blog</li></a>
                <li><a type="button" class="btn btn-info mb-3" href="/nosformations">Nos formations</li></a>
                <li><a type="button" class="btn btn-info mb-3" href="/contact">Nous contacter</a></li>
            </ul>
        </nav>
    </header>
<body class="ml-5">
        {{{body}}}

    <footer class="mt-5">
        
    </footer>
 
     <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>

</html>