
<section class="container">
    {{#each articles}}
        <article class="mb-3">
            <h1><a href="/article/{{this.id}}">{{this.titre}}</a></h1>
            <p>{{this.sujet}}</p>
        </article>
    {{/each}}
</section>


