<h2 class="h3">Nous contacter</h2>
    <form action="/contact" method="post">
        <label for="fname">Prénom</label><br>
        <input type="name" id="fname" name="fname"><br>
        <label for="lname">Nom</label><br>
        <input type="name" id="lname" name="lname"><br>
        <label for="courriel">Adresse courriel</label><br>
        <input type="text" id="courriel" name="courriel"><br>
        <label for="phone">Numéro de téléphone</label><br>
        <input type="number" id="phone" name="phone"><br>
        <label for="sujet">Sujet de la demande</label><br>
        <select name="sujet" id="sujet">
            <option value="inscription">Inscription</option>
            <option value="demande">Demande de formation</option>
        </select><br>
        <label for="demande">Demande</label><br>
        <textarea type="text" id="demande" name="demande"></textarea><br>
        <input class="btn-default" type="submit" id="soumettre" name="soumettre">
    </form>
