<section class="container">
    <h2>Nos formations {{type}}</h2>
    {{#each formations}}
        <article class="mb-3">
            <h1><a href="/nosformations/{{this.type}}/{{this.id}}">{{this.nom}}</a></h1>
            <p>{{this.description}}</p>
        </article>
    {{/each}}
</section>