<ul>
    <li><a type="button" class="btn mb-3" href="/nosformations/mongo">Formations MongoDB</a></li>
    <li><a type="button" class="btn mb-3" href="/nosformations/node">Formations Nodejs</a></li>
</ul> 

<section class="container">
    {{#each formation}}
        <article class="mb-3">
            <h1><a href="/nosformations/{{this.type}}/{{this.id}}">{{this.nom}}</a></h1>
            <p>{{this.description}}</p>
        </article>
    {{/each}}
</section>